@{
    ViewBag.Title = "Home Page";
}
<style>
    #xyz p{
        margin-top:50px;
    }
    #xyz h1{
        margin-top:150px;
        color:green;
    }
    body{
        background-color:lightskyblue;
    }

</style>
<center>
    <div id="xyz">
        <h1>WELCOME TO PATIENT TRACKER</h1>
        <b><p>Patient tracker is an  application which can be used by doctors and nurses to collect data of their patients to track patients general information and also information related to their medicines and vital signs by saving it every time when a patient visits them. All data is saved locally by application so nurse/doctor can check their patients last assessment status, their assessment records and medicines assigned to them along with its dosage-schedule at any time whenever they want.</p></b>
    </div>
</center>

